/*GLOBAL*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0
}

/* LOGO */

.logo {
    position: fixed;
    z-index: 2;
    padding: 1%;
    /*margin-left: 4%;
    margin-top: 0.2%;*/
    background-color: transparent;
}

/* LOGO SLUT */

/* MENU */

header nav {
    position: fixed;
    width: 100%;
    top: 40px;
    z-index: 1;
}

.indmeldelse {
    background-color: #559f01;
    color: white;
    padding: 9px 20px;
    line-height: 14px;
    border-bottom: 0;
}

.nav {
    overflow: hidden;
    z-index: 50;

}

.nav ul {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.sol-menu li {
    float: left;
    display: block;
    list-style: none;
}

.sol-menu li a {
    display: block;
    text-decoration: none;
    color: #000000;
    padding: 15px 50px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.indmeldelse {
    background-color: #559f01;
    padding: 9px 20px;
    line-height: 14px;
    border-bottom: 0;
}

.sol-menu a:hover {
    border-bottom: 1px solid black;
}

ul.sag-menu {
    float: right;
    padding: 8px 10px;
    overflow: hidden;
}

.sag-menu i {
    color: #FFFFFF;
    margin: 8px;
    cursor: pointer;
}

input.search {
    display: none;
    padding: 5px;
    max-width: 100%;
}

.altmenu-ac {
    display: none;
}

.menu-ac {
    display: none;
    padding: 10px;
    cursor: pointer;
    color: #FFFFFF;
}

/* MENU SLUT*/

/* HOME */

#home {
    height: 100vh;
    background-image: url(../images/forside2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

#welcome {
    position: absolute;
    z-index: 1;
    margin-top: 10%;
    padding: 5%;
    line-height: 1.5;
    width: 43%;
    background-color: #00000045;
    color: white;

}

/* HOME SLUT */


/* GALLERY */ 

.galleri {
    text-align: center;
    margin-top: 4%;
    margin-bottom: -3%;
}


/* SLIDESHOW*/
    .slider {
        width: 80%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/* ANMELDELSER */

 .anmeldelser {
     text-align: center;
    margin-top: 8%;
    margin-bottom: -3%;
}

/* MOBIL */

@media (max-width: 767px) {

    /* MENU */
    header nav {
        position: fixed;
        width: 100%;
        top: 13px;
        z-index: 1;
    }
    .ac {
        display: none;

    }
    .nav ul li {
        float: none;
    }
    .menu-ac {
        display: block;
        float: right;
    }

    .sol-menu li a {
        color: white;
        background-color: #6b422f;
    }

    .ac {
        margin-top: 60px;
    }
    .sol-menu li a:hover {
        border-bottom: 1px solid white;
    }

    /*MENU SLUT*/
    
    /* LOGO */
    .logo img {
        width: 80%;
    }

    /*HOME*/
    #welcome {
        width: 100%;
        margin-top: 15%;
    }


}


/* TABLET */

@media (min-width: 768px) {

    .ac {
        display: block!important;
        float: right;
    }
    
  
    


}


/*desktop*/

@media (min-width: 1024px) {}