/*GLOBAL*/
* {
    box-sizing: border-box;
}















/*mobiler*/
@media (max-width: 767px) {
    
    #map {
        height: 200px;
        width: 61%;
        display: block;
        margin: 0 auto;
        margin-top: 4.3%;
    }  
    
    .info {
        margin-left: 16%;
    }
    
    .info1 {
        margin-left: 16%;
    }
    
    
    .kontaktinfo, .abningstider {
        text-align: center;
    }
    
    .ugedage {
        line-height: 28px;
        text-align: center;
    }
    
    .some {
        font-size: 2.4em;
        text-align: center;
        color: white;
        background-color: #5cb5df;
        padding: 0.4%;
    }
    
    .somelink {
        text-decoration: none;
        color: white;
    }
    
    .somelink:hover {
        color: grey;
    }
    
}


/*tablets*/
@media (min-width: 768px) and (max-width: 1023px) {
    
    
    
}


/*desktop*/
@media (min-width: 1024px) {
   
    
    /* FOOTER */
    
    footer {
        margin: 0% 3% 0% 3%;
    }
    
    .somelink {
        text-decoration: none;
        color: white;
    }
    
    .somelink:hover {
        color: grey;
    }
    
    .flex-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;

    }

    .flex-container>* {
    flex: 1 100%; 
    
    }
    
    .footer-item {
        border-top: 1px solid black;
        border-right: 1px solid black;
        border-left: 1px solid black;
        padding-bottom: 1.4%;
        padding-top: 1%;
        
    }
    
    .info {
        margin-left: 19%;
    }
    
    .info1 {
        margin-left: 19%;
    }
    
    
    .kontaktinfo, .abningstider {
        text-align: center;
    }
    
    .footer-item i {
        font-size: 1.4em;
    }
    
    .some {
        font-size: 2.4em;
        text-align: center;
        color: white;
        background-color: #5cb5df;
        padding: 0.4%;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        
    }
    
    
    .rykkeind {
        margin-left: 1.4%;
        margin-top: -1%;
    }
    
    #map {
            height: 200px;
            width: 61%;
        display: block;
        margin: 0 auto;
        margin-top: 4.3%;
        }
    
    .ugedage {
        line-height: 28px;
        text-align: center;
    }
    
    /* FOOTER SLUT */ 
    
    
    
}
